* {
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%); 
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

div:nth-child(1) {
    background-color: white;
    grid-area: box-1;
}

div:nth-child(2)  {
    background-color: hsl(179, 62%, 43%);
    grid-area: box-2;
    line-height: 2rem;
}

div:nth-child(3) {
    background-color:  hsl(179, 62%, 43%, 0.7);
    grid-area: box-3;
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "box-1"
        "box-2"
        "box-3";
    border-radius: 10px;
    margin: 18vh auto;
    width: 100%;
    box-shadow: 0 5px 50px rgba(139, 45, 45, 0.288);
    overflow: hidden;
    width: 300px;
}

.box-1__container, .box-2__container, .box-3__container {
    margin: 30px;
}

.box-1__title, .box-2__title, .box-3__title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.box-1 h1 {
    font-size: 1.2rem;
    color: hsl(179, 62%, 43%);
    font-weight: 900;
}

.box-1 h2 {
    font-size: 1rem;
    color: hsl(71, 73%, 54%);
    font-weight: 900;
    line-height: 1.3rem;
}

.box-1__description {
    color:  rgb(153, 149, 149);
}

.box-2 *, .box-3 {
    color: white;
}
 
.box-2___price, .box-3__list {
    color: hsl(204, 43%, 93%);
    list-style-type: none;
    line-height: 1.2rem;
    font-size: 0.875rem;
    padding: 0px;
}

.box-2__price {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 100px;
}

.signup-button {
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.288);
    cursor: pointer;
    padding: 15px 90px;
    margin: 10px 0px 10px 0px;
    font-size: 1rem;
}

.typewriter-efect, .box-1__heart, .box-1__author {
    display: none;
}

.attribution {
    text-align: center;
}

@media (min-width: 425px) {
    
    body {
        margin: 0 auto;
    }

    footer {
        text-emphasis: center;
    }

    .wrapper {
        display: grid;
        grid-template-areas: 
            "box-1 box-1"
            "box-2 box-3";  
        grid-template-columns: 1fr 1fr; 
        max-width: 600px;
        min-width: 600px;
    }
    
    .box-1 {
        position: relative;
    }

    .box-1__heart {
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
        color: hsl(179, 62%, 43%);
        font-size: 0.7em;
    }

    .box-1__author {
        position: absolute;
        top: 0;
        right: 3%;
        display: inline;
        color: hsl(71, 73%, 54%);
        font-size: 0.7em;

    }

    .box-3__list {
        margin-top: 25px;
    }

    .box-1__container {
        position: relative;
    }
    
    .typewriter-efect {
        position: absolute;
        right:0px;
        top: 0;
        width: 0;
        background: white;
        border-left: 1px solid #000;
        animation: write 5s steps(30) alternate none;
    }
    
    @keyframes write {
        from { width: 100% }
        to { width: 0% }
    }

   
}
